%div#left
  %ul#years
    -@years.each do |y|
      %li="#{y.y}"
  %ul#year-months
    -@months.each do |m|
      %li="#{m.m}"
  %ul#year-month-days
    -@days.each do |d|
      %li="#{d.d}"





/ %ul#positions  
/   -@user.positions.group_by{|p| Time.at(p.timestamp.to_i).strftime("%B %Y")}.each do |year_month, p_year_months|
/     %li.year-month
/       %span= year_month
/       %ul.days  
/         -p_year_months.group_by{|p| Time.at(p.timestamp.to_i).strftime("%d")}.each do |day, p_days|
/           %li.day
/             %span= day
/             %ul.times
/               -p_days.each do |p|
/                 %li.times{:data => {:lat => p.lat, :long => p.long, :timestamp => p.timestamp}}
/                 %span="#{Time.at(p.timestamp.to_i).strftime("%H:%M:%S")}" 

%div#right
  %div#map
